{% extends 'base.html' %} {% block header %}
<div class="header">
    <h1>Categories - Create</h1>
    <h2 class="text-muted">Use the form below to create a new category in your database!</h2>
    <hr>
</div>
{% endblock %} {% block content %}
<div class="errors-container">
    {% if errors %}
    <div class="alert alert-danger">
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </div>
    {% endif %}
</div>
<form method="POST" id="categoriesForm">

    <!-- Name -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="name">Name: </label>
                <input type="text" name="name" class="form-control" placeholder="Enter the category's name..." value="{{ category.name }}" required>
            </div>
        </div>
    </div>

    <!-- Description -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="description">Description: </label>
                <textarea name="description" class="form-control" placeholder="Enter a description for the new category...">{{ category.description  }}</textarea>
            </div>
        </div>
    </div>

    <!-- Notes -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="notes">Notes: </label>
                <textarea name="notes" class="form-control" placeholder="Enter any notes for the new category...">{{ category.notes }}</textarea>
            </div>
        </div>
    </div>

    <!-- Submit, Reset, or Return -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary form-control">Submit</button>
            </div>
            <div class="col">
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
            <div class="col">
                <button type="button" id="returnBtn" class="btn btn-dark form-control">Return to Index</button>
            </div>
        </div>
    </div>

</form>

<!-- Return Button Script -->
<script>
    $('#returnBtn').on('click', function() {
        window.location.href = '/categories/index'
    });
</script>

{% endblock %}