{% extends 'base.html' %} {% block scripts %}
<script>
    var page = 1;
    var limit = 10;
    var pageCount = 1;
    var categories = Array();
</script>
<script src="{{ url_for('static', filename='js/views/categories/index/page-params.js') }}"></script>
<script src="{{ url_for('static', filename='js/views/categories/index/load-categories.js') }}"></script>
<script src="{{ url_for('static', filename='js/views/categories/index/pagination.js') }}"></script>
{% endblock %}
<script>
    console.log(page + ' ' + limit);
</script>
{% block header %}
<div class="header">
    <h1>Categories - Index</h1>
    <h2 class="text-muted">This is the index page for your categories. View and manage them from here!</h2>
    <hr>
</div>
{% endblock %} {% block content %}
<div class="operation-btns-container">
    <div class="row">
        <div class="col">
            <form action="/categories/create" method="GET">
                <button type="submit" class="btn btn-primary form-control">Create New</button>
            </form>
        </div>
        <div class="col">
            <button type="button" id="excelBtn" class="btn btn-success form-control">Export to Excel (*.xlsx)</button>
        </div>
        <div class="col">
            <button type="button" id="csvBtn" class="btn btn-dark form-control">Export to CSV (*.csv)</button>
        </div>
        <div class="col">
            <form action="/categories/export/json" method="GET">
                <button type="submit" class="btn btn-warning form-control">Export to JSON (*.json)</button>
            </form>
        </div>
    </div>
</div>
<hr>
<div class="table-container">
    <div class="table-heading">
        <h3>Categories Table View</h3>
    </div>
    <div class="filtering-container">
        <div class="row">
            <div class="col">
                <select name="limit" id="itemsPerPage" class="form-control">
                    <option value="Select a Limit" selected="selected">Select a Limit</option>
                    <option class="limit-option" value="10">10</option>
                    <option class="limit-option" value="20">20</option>
                </select>
            </div>
        </div>
    </div>
    <table id="categoriesTable" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Notes</th>
                <th>Created At</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <!-- Load category records as rows here -->
        </tbody>
    </table>
</div>
<!-- Pagination -->
<div id="paginationContainer">
    <!-- Load pagination buttons here -->
</div>
{% endblock %}