<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">

    <!-- Title -->
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to JetTronics</title>
    {% endif %}

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jettronics/jettronics.css') }}"> {% block css %} {% endblock %}

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.js') }}"></script> {% block scripts %} {% endblock %}
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <!-- Brand -->
        <a href="/index" class="navbar-brand">JetTronics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarContent">

            <!-- Navbar Left -->
            <ul class="navbar-nav mr-auto">

                <!-- Categories -->
                <li class="nav-item dropdown">
                    <a href="/categories" class="nav-link dropdown-toggle" id="categoriesDropdown" role="button" data-toggle="dropdown">
                        Categories
                    </a>
                    <div class="dropdown-menu">
                        <a href="/categories" class="dropdown-item">Categories</a>
                        <a href="/sub-categories" class="dropdown-item">Sub Categories</a>
                    </div>
                </li>

                <!-- Storages -->
                <li class="nav-item dropdown">
                    <a href="/storages" class="nav-link dropdown-toggle" id="storagesDropdown" role="button" data-toggle="dropdown">
                        Storages
                    </a>
                    <div class="dropdown-menu">
                        <a href="/warehouses/index" class="dropdown-item">Warehouses</a>
                        <a href="/locations/index" class="dropdown-item">Locations</a>
                    </div>
                </li>

                <!-- Products -->
                <li class="nav-item">
                    <a href="/products/index" class="nav-link">Products</a>
                </li>

            </ul>

            <!-- Navbar Right -->
            <ul class="navbar-nav ml-auto">
                {% if session.user_username %}
                <li class="nav-item">
                    <a href="/auth/profile" class="nav-link">{{ session.user_username }}</a>
                </li>
                <li class="nav-item">
                    <a href="/auth/logout" class="nav-link">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/auth/register" class="nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a href="/auth/login" class="nav-link">Login</a>
                </li>
                {% endif %}
            </ul>

        </div>

    </nav>
    <!-- END Navbar -->

    <!-- Content Container -->
    <div class="container">

        <!-- Header -->
        {% block header %} {% endblock %}

        <!-- Content -->
        {% block content %} {% endblock %}

    </div>
    <!-- END Content Container -->

</body>

</html>