{% extends 'base.html' %} {% block scripts %}
<script src="{{ url_for('static', filename='js/views/products/fetch-categories.js') }}"></script>
{% endblock %} {% block header %}
<div class="header">
    <h1>Products - Create</h1>
    <h2 class="text-muted">Use the form below to create a new product entry in your database!</h2>
    <hr>
</div>
{% endblock %} {% block content %}
<div class="errors-container">
    {% if errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
<form method="POST" id="productsForm">

    <!-- Name -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="name">Name: </label>
                <input type="text" name="name" class="form-control" placeholder="Enter the product's name..." required>
            </div>
        </div>
    </div>

    <!-- Category Name -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="category_name">Category Name: </label>
                <select name="category_name" id="categoryName" class="form-control">
                    <option value="Select a category name" selected="selected">Select a category name</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Description -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="description">Description: </label>
                <textarea name="description" class="form-control" placeholder="Enter the product's description..."></textarea>
            </div>
        </div>
    </div>

    <!-- Warehouse Prefix and Location -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="warehouse_prefix">Warehouse Prefix</label>
                <!-- Todo: select for list of warehouse prefixes -->
                <input type="text" name="warehouse_prefix" class="form-control">
            </div>
            <div class="col">
                <label for="location">Location: </label>
                <!-- Todo: select for list of locations -->
                <input type="text" name="location" class="form-control">
            </div>
        </div>
    </div>

    <!-- Price Per Unit and Quantity -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="price_per_unit">Price Per Unit: </label>
                <input type="number" step="0.01" name="price_per_unit" class="form-control">
            </div>
            <div class="col">
                <label for="quantity">Quantity: </label>
                <input type="number" step="1" name="quantity" class="form-control">
            </div>
        </div>
    </div>

    <!-- SKU and Barcode -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="sku">SKU: </label>
                <input type="text" name="sku" class="form-control" placeholder="Enter a stock keeping unit...">
            </div>
            <div class="col">
                <label for="barcode">Barcode: </label>
                <input type="text" name="barcode" class="form-control" placeholder="Enter a scannable barcode number...">
            </div>
        </div>
    </div>

    <!-- Country of Origin -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="country_of_origin">Country of Origin: </label>
                <input type="text" name="country_of_origin" class="form-control">
            </div>
        </div>
    </div>

    <!-- Notes -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="notes">Notes: </label>
                <textarea name="notes" class="form-control"></textarea>
            </div>
        </div>
    </div>

    <!-- Submit Reset Return -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary form-control">Create New</button>
            </div>
            <div class="col">
                <button type="reset" class="btn btn-secondary form-control">Reset Form</button>
            </div>
            <div class="col">
                <button type="button" id="returnBtn" class="btn btn-dark form-control">Return to Index</button>
            </div>
        </div>
    </div>

</form>

<script>
    $('#returnBtn').on('click', function() {
        window.location.href = '/products/index'
    });
</script>

{% endblock %}