{% extends 'base.html' %} {% block scripts %}
<script>
    var page = 1;
    var limit = 10;
    var pageCount = 1;
    var products = Array();
</script>
<script src="{{ url_for('static', filename='js/views/products/index/page-params.js') }}"></script>
<script src="{{ url_for('static', filename='js/views/products/index/load-products.js') }}"></script>
<script src="{{ url_for('static', filename='js/views/products/index/index.js') }}"></script>
{% endblock %} {% block header %}
<div class="header">
    <h1>Products - Index</h1>
    <h2 class="text-muted">View and manage products from your database on this page!</h2>
    <hr>
</div>
{% endblock %} {% block content %}
<div class="operation-btns-container">
    <div class="row">
        <div class="col">
            <button type="button" id="createBtn" class="btn btn-primary form-control">Create New</button>
        </div>
        <div class="col">
            <button type="button" id="excelBtn" class="btn btn-success form-control">Export to Excel (*.xlsx)</button>
        </div>
        <div class="col">
            <button type="button" id="csvBtn" class="btn btn-dark form-control">Export to CSV (*.csv)</button>
        </div>
        <div class="col">
            <button type="button" id="jsonBtn" class="btn btn-warning form-control">Export to JSON (*.json)</button>
        </div>
    </div>
</div>
<hr>
<div class="table-container">
    <div class="table-heading">
        <h3>Products Table View</h3>
    </div>
    <div class="filtering-container">
        <div class="row">
            <div class="col">
                <select name="limit" id="itemsPerPage" class="form-control">
                    <option value="Select a Limit" selected="selected">Select a Limit</option>
                    <option class="limit-option" value="10">10</option>
                    <option class="limit-option" value="20">20</option>
                </select>
            </div>
        </div>
    </div>
    <table id="productsTable" class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category Name</th>
                <th>Description</th>
                <th>Warehouse Prefix</th>
                <th>Location</th>
                <th>Price Per Unit</th>
                <th>Quantity</th>
                <th>SKU</th>
                <th>Barcode</th>
                <th>Country of Origin</th>
                <th>Notes</th>
                <th>Created At</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <!-- Load products here -->
        </tbody>
    </table>
</div>
<div id="paginationContainer"></div>
{% endblock %}