{% extends 'base.html' %} {% block header %}
<div class="header">
    <h1>JetTronics Login</h1>
    <h2 class="text-muted">Use the form below to log into your existing account!</h2>
    <hr>
</div>
{% endblock %} {% block content %}
<div class="errors-container">
    {% if errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %} {% if error %}
    <div class="alert alert-danger">
        <ul>
            <li>
                {{ error }}
            </li>
        </ul>
    </div>
    {% endif %}
</div>
<!-- Login Form -->
<form method="POST" id="loginForm">

    <!-- Username -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="username">Username: </label>
                <input type="text" name="username" class="form-control" placeholder="Enter your username..." required>
            </div>
        </div>
    </div>

    <!-- Password -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="password">Password: </label>
                <input type="password" name="password" class="form-control" placeholder="Enter your password..." required>
            </div>
        </div>
    </div>

    <!-- Submit or Login -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary form-control">Login</button>
            </div>
            <div class="col">
                <button type="button" id="registerBtn" class="btn btn-secondary form-control">No account? Register now!</button>
            </div>
        </div>
    </div>

</form>

<script>
    $('#registerBtn').on('click', function() {
        window.location.href = '/auth/register'
    });
</script>

{% endblock %}