{% extends 'base.html' %} {% block header %}
<div class="header">
    <h1>JetTronics Registration</h1>
    <h2 class="text-muted">Use the form below to register a new and free JetTronics account!</h2>
    <hr>
</div>
{% endblock %} {% block content %}
<div class="errors-container">
    {% if errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
<form method="POST" id="registerForm">

    <!-- First Name and Last Name -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="first_name">First Name: </label>
                <input type="text" name="first_name" class="form-control" required>
            </div>
            <div class="col">
                <label for="last_name">Last Name: </label>
                <input type="text" name="last_name" class="form-control" required>
            </div>
        </div>
    </div>

    <!-- Gender, Date of Birth, Ethnicity -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="gender">Gender: </label>
                <select name="gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="col">
                <label for="date_of_birth">Date of Birth: </label>
                <input type="date" name="date_of_birth" class="form-control" required>
            </div>
            <div class="col">
                <label for="ethnicity">Ethnicity: </label>
                <input type="text" name="ethnicity" class="form-control">
            </div>
        </div>
    </div>

    <!-- Email Address and Phone Number -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="email_address">Email Address: </label>
                <input type="email" name="email_address" class="form-control" required>
            </div>
            <div class="col">
                <label for="phone_number">Phone Number: </label>
                <input type="number" step="1" name="phone_number" class="form-control">
            </div>
        </div>
    </div>

    <!-- Street Address, City, Postal Code, Province, and Country -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="street_address">Street Address: </label>
                <input type="text" name="street_address" class="form-control">
            </div>
            <div class="col">
                <label for="city">City: </label>
                <input type="text" name="city" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="postal_code">Postal Code: </label>
                <input type="text" name="postal_code" class="form-control">
            </div>
            <div class="col">
                <label for="province">Province: </label>
                <input type="text" name="province" class="form-control">
            </div>
            <div class="col">
                <label for="country">Country: </label>
                <input type="text" name="country" class="form-control">
            </div>
        </div>
    </div>

    <!-- Username, Password, and Confirm Password-->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="username">Username: </label>
                <input type="text" name="username" class="form-control" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="password">Password: </label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <div class="col">
                <label for="confirm_password">Confirm Password: </label>
                <input type="password" name="confirm_password" class="form-control" required>
            </div>
        </div>
    </div>

    <!-- Submit -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary form-control">Register</button>
            </div>
            <div class="col">
                <button type="button" id="loginBtn" class="btn btn-secondary form-control">Already registered? Login here!</button>
            </div>
        </div>
    </div>

</form>

<script>
    $('#loginBtn').on('click', function() {
        window.location.href = '/auth/login'
    });
</script>

{% endblock %}