{% extends 'base.html' %} {% block scripts %}
<script>
    var page = 1;
    var limit = 10;
    var pageCount = 1;
    var categories = Array();
</script>
{% endblock %} {% block header %}
<div class="header">
    <h1>Clients - Index</h1>
    <h2 class="text-muted">View and manage your database's client records from this page!</h2>
    <hr>
</div>
{% endblock %} {% block content %}
<div class="operation-btns-container">
    <div class="row">
        <div class="col">
            <button type="button" id="createBtn" class="btn btn-primary form-control">Create New</button>
        </div>
        <div class="col">
            <button type="button" id="excelBtn" class="btn btn-success form-control">Export to Excel (*.xlsx)</button>
        </div>
        <div class="col">
            <button type="button" id="csvBtn" class="btn btn-dark form-control">Export to CSV (*.csv)</button>
        </div>
        <div class="col">
            <button type="button" id="jsonBtn" class="btn btn-warning form-control">Export to JSON (*.json)</button>
        </div>
    </div>
</div>
<hr>
<div class="table-container">
    <div class="table-heading">
        <h3>Clients Table View</h3>
    </div>
    <div class="filtering-container">
        <div class="row">
            <div class="col">
                <select name="limit" id="limitPerPage" class="form-control">
                    <option value="Select a limit of items per page" selected="selected">Select a limit of items per page</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>
    </div>
    <table id="clientsTable" class="table table-hover table-striped table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>Postal Code</th>
                <th>Province</th>
                <th>Country</th>
                <th>Notes</th>
                <th>Last Ordered At</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            <!-- Load clients here -->
        </tbody>
    </table>
</div>
<div id="paginationContainer"></div>
{% endblock %}