{% extends 'base.html' %} {% block header %}
<div class="header">
    <h1>Warehouses - Create</h1>
    <h2 class="text-muted">Use the form below to create a new warehouse entry in your database!</h2>
    <hr>
</div>
{% endblock %} {% block content %}

<!-- Errors -->
<div class="errors-container">
    {% if errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
<!-- END Errors -->

<!-- Warehouses Form -->
<form method="POST" id="warehousesForm">

    <!-- Name -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="name">Name: </label>
                <input type="text" name="name" class="form-control" placeholder="Enter the warehouses name..." value="{{ warehouse.name }}" required>
            </div>
        </div>
    </div>

    <!-- Description -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="description">Description: </label>
                <textarea name="description" class="form-control" placeholder="Enter a description for the warehouse...">{{ warehouse.description }}</textarea>
            </div>
        </div>
    </div>

    <!-- Notes -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="notes">Notes: </label>
                <textarea name="notes" class="form-control" placeholder="Enter important notes about the warehouse...">{{ warehouse.notes }}</textarea>
            </div>
        </div>
    </div>

    <!-- Prefix -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="prefix">Prefix: </label>
                <input type="text" name="prefix" class="form-control" placeholder="Enter a prefix to identify the warehouse..." value="{{ warehouse.prefix }}" required>
            </div>
        </div>
    </div>

    <!-- Address -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="street_address">Street Address: </label>
                <input type="text" name="street_address" class="form-control" placeholder="Enter the warehouses street address..." value="{{ warehouse.street_address }}" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="city">City: </label>
                <input type="text" name="city" class="form-control" placeholder="Enter the warehouse's city..." value="{{ warehouse.city }}" required>
            </div>
            <div class="col">
                <label for="postal_code">Postal Code: </label>
                <input type="text" name="postal_code" class="form-control" placeholder="Enter the warehouse's postal code..." value="{{ warehouse.postal_code }}" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="province">Province: </label>
                <input type="text" name="province" class="form-control" placeholder="Enter the warehouse's province..." value="{{ warehouse.province }}" required>
            </div>
            <div class="col">
                <label for="country">Country: </label>
                <input type="text" name="country" class="form-control" placeholder="Enter the warehouse's country..." value="{{ warehouse.country }}" required>
            </div>
        </div>
    </div>

    <!-- Manager -->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="manager_name">Manager's Full Name: </label>
                <input type="text" name="manager_name" class="form-control" placeholder="Enter the manager's full name..." value="{{ warehouse.manager_name }}">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="manager_email">Manager's Email Address: </label>
                <input type="email" name="manager_email" class="form-control" placeholder="Enter the manager's email address..." value="{{ warehouse.manager_email }}">
            </div>
            <div class="col">
                <label for="manager_phone">Manager's Phone Number: </label>
                <input type="number" step="1" name="manager_phone" class="form-control" placeholder="Enter the manager's phone number..." value="{{ warehouse.manager_phone }}">
            </div>
        </div>
    </div>

    <!-- Submit, Reset, and Return-->
    <div class="form-group">
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary form-control">Create Warehouse</button>
            </div>
            <div class="col">
                <button type="reset" class="btn btn-secondary form-control">Reset the Form</button>
            </div>
            <div class="col">
                <button type="button" id="returnBtn" class="btn btn-dark form-control">Return to Index</button>
            </div>
        </div>
    </div>

</form>
<!-- END Warehouses Form -->

<!-- Return Click Event -->
<script>
    $('#returnBtn').on('click', function() {
        window.location.href = '/warehouses/index'
    });
</script>

{% endblock %}