{% extends 'base.html' %} {% block scripts %}
<script src="{{ url_for('static', filename='js/views/warehouses/index.js') }}"></script>
{% endblock %} {% block header %}
<div class="header">
    <h1>Warehouses - Index</h1>
    <h2 class="text-muted">This is your warehouse index page. View and manage your warehouses from here!</h2>
    <hr>
</div>
{% endblock %} {% block content %}
<div class="operations-btns-container">
    <div class="row">
        <div class="col">
            <form action="/warehouses/create" method="GET">
                <button type="submit" class="btn btn-primary form-control">Create New</button>
            </form>
        </div>
        <div class="col">
            <form action="/warehouses/export/excel" method="GET">
                <button type="submit" class="btn btn-success form-control">Export to Excel (*.xlsx)</button>
            </form>
        </div>
        <div class="col">
            <form action="/warehouses/export/csv" method="GET">
                <button type="submit" class="btn btn-dark form-control">Export to CSV (*.csv)</button>
            </form>
        </div>
        <div class="col">
            <form action="/warehouses/export/json" method="GET">
                <button type="submit" class="btn btn-warning form-control">Export to JSON (*.json)</button>
            </form>
        </div>
    </div>
</div>
<hr>
<div class="table-container">
    <div class="table-heading">
        <h3>Warehouses Table View</h3>
    </div>
    <table id="warehousesTable" class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Notes</th>
                <th>Prefix</th>
                <th>Street Address</th>
                <th>City</th>
                <th>Postal Code</th>
                <th>Province</th>
                <th>Country</th>
                <th>Manager Name</th>
                <th>Manager Email Address</th>
                <th>Manager Phone Number</th>
                <th>Created At</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <!-- Load table rows here -->
        </tbody>
    </table>
</div>
{% endblock %}